* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    list-style-type: none;
}
#navbar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(88, 91, 92);
    height:70px;
    transition: 0.3s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: center;
}
#navbar>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#navbar a {
    text-decoration: none;
    color: inherit;
}
#logo {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: wheat;
}
#menu-list {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: wheat;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#menu-list span {
    font-size: 35px;
    line-height: unset;
    color: wheat;
}
#menu-list button {
    padding: 0px;
    border: none;
    background: inherit;
}
#menu-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    height: 55px;
}
#menu-list li::before {
    content: '';
    width: 0;
    height: 12px;
    position: absolute;
    border: 0.5px solid gray;
    background-color: gray;
    left: -7px;
}
#navbar a:hover, #menu-list span:hover{
    color: black;
    transition: 0.2s;
}
#nabar a:active, #navbar .btn:active{
    background-color:#04AA6D;
    color: white;
}

/*------------------------------------------------------ Login -------------------------------------------------------*/
.modal-content {
    display: flex;
    flex-direction: row;
    height: 400px;
}
#login-section {
    display: flex;
    flex-direction: row;
    height: 400px;
}
.modal-left {
    flex:1.5;
    height: 100%;
    padding: 0px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-section form, .login-sec {
    display: flex;
    flex-direction: column;
}
#login-section form {
    height: 300px;
    justify-content: center;
    width: 100%;
}
.login-sec {
    font-family: 'Nunito', sans-serif;
    font-weight:500 ;
    color: wheat;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #3a3a3a;;
}
.login-sec input {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-weight: 300;
    outline: 0;
    border: 0;
    padding: 4px 0 0; 
    font-size: 14px;
    background-color: transparent;
}
.login-sec label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 0.7px;
}
.login-sec input:-ms-input-placeholder {
    color: rgba(255, 252, 246, 0.719);
    opacity: 1;
}
.login-sec input::placeholder {
    color: rgba(255, 252, 246, 0.719);
    opacity: 1;
}
.login-sec:focus-within {
    border-color: black;
    background-color: #484848d9;
    transition: 0.2s;
}
.login-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.login-rem {
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}
input:checked+label{
    font-weight: bold;
    color: black;
}
.login-sub input{
    width: 90px;
    height: 40px;
    padding: 5px;
    border:none;
    color:wheat;
    background-color: black;
    border-radius: 4px;
}
.login-sub input:hover{
    background-color: #3a3a3a;
    transition: 0.3s;
}
.line {
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}
#signup-btn {
    width: 95px;
    height: 30px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    color: wheat;
    background-color: black;
    border-radius: 30px;
    font-size: 15px;
}
#signup-btn:hover{
    box-shadow: 0px 5px 20px 1px rgb(0 0 0 / 51%);
    background-color: #3a3a3a;
    transition: 0.3s;
}
#signup-btn span{
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
.modal-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
}
.modal-right img {
    width: 100%;
    height: 100%;
    /* -o-object-fit: cover;
    object-fit: cover; */
}
.modal-right::before {
    content: '';
    width: 0;
    height: 70%;
    position: absolute;
    border: 0.5px solid gray;
    background-color: gray;
    top: 60px;
}
/* -------------------------------------Signup-------------------------------------------*/
#signup-section {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
}
#gbt-login {
    position: absolute;
    background: none;
    top:5px;
    left: 5px;
    border: none;
    width: fit-content;
    padding: 0px;
}
#gbt-login>span {
    font-size: 30px;
    color: #d79211;
}
#gbt-login>span:hover {
    color: black;
    transition: 0.2s;
}
#signup {
    flex: 1.5;
    height: 100%;
    padding: 0px 20px;
}
.modal-signup {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
    flex-direction: row;
}
#signup-image {
    width: 100%;
    height: 100%;
    /* -o-object-fit: cover;
    object-fit: cover; */
}
.modal-signup::before {
    content: '';
    width: 0;
    height: 70%;
    position: absolute;
    border: 0.5px solid gray;
    background-color: gray;
    top: 60px;
}
.options{
    padding: 10px;
    margin-top: 10%;
}
.sign-option{
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    width: 240px;
    height: 50px;
    padding: 5px;
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: none;
    color: wheat;
    background-color: black;
    border-radius: 30px;
    font-size: 20px;
}
.sign-option span {
    width: 100px;
    text-align: left;
}
.sign-option:hover{
    background-color: #3a3a3a;
    transition: 0.3s;
    box-shadow: 0px 5px 20px 1px rgb(0 0 0 / 51%);
}
/* #google{
    background-color: white;
} */
#apple{
    /* background-color: grey; */
    color: white;
}
#facebook{
    /* background-color: white; */
    color:  rgb(59, 89, 152)
}

